.ShopContent {
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: fadeIn 1.5s ease-out;
}

.ShopContent h1 {
  font-size: 40px;
}

.ShopContent h2 {
  font-size: 30px;
}

.ShopContent p {
  font-size: 22px;
}

.shopitems {
  background-color: hsla(205, 27%, 24%, 0.05);
  border-radius: 20px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 80px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  animation: fadeIn 1.5s ease-out;
}

.card {
  --main-color: #fff;
  --bg-color: rgba(118, 135, 158, 0.1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  margin: 40px;
  padding: 20px;
  width: 250px;
  background: var(--bg-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition-duration: 0.3s;
}

/* Normal size
  @media (min-width: 1100x) {
    .card {
      transform: scale(1);
      /* Full size
    }
  }
  
  /* Medium screens (e.g., tablets)
  @media (max-width: 1100px) {
    .card {
      transform: scale(0.6);
      margin: -60px;
    }
  }
  
  /* Small screens (e.g., phones)
  @media (max-width: 720px) {
    .card {
      transform: scale(0.3);
      margin: -120px;
    }
  } */

.card:hover {
  --bg-color: rgba(42, 127, 117, 0.15);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(107, 233, 132, 0.5);
  backdrop-filter: blur(20px);
  scale: 1.03;
  transition-duration: 0.3s;
}

.prodImage {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 200px;
  height: 200px;
}

.prodImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.card__title {
  font-weight: 600;
  font-size: 25px;
  color: var(--main-color);
}

.card__subtitle {
  font-weight: 400;
  font-size: 15px;
  color: var(--main-color);
  letter-spacing: 0.5px;
  text-align: left;
}

.card__wrapper {
  display: flex;
}

.card__price {
  font-weight: 600;
  font-size: 22px;
  color: var(--main-color);
}

.card__button {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: rgba(29, 89, 82, 0.75);
  position: absolute;
  border-radius: 20px;
  right: 20px;
  bottom: 15px;
  width: 100px;
  height: 10px;
  padding: 10px;
  transition-duration: 0.3s;
}

.card__button p {
  color: #fff;
  margin-top: -5px;
  font-size: 15px;
}

.card__button svg {
  margin-bottom: -2.5px;
}

.card__button:hover {
  scale: 1.05;
  background-color: rgba(107, 233, 132, 0.5);
  transition-duration: 0.3s;
}
